@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");

.about-text {
  font-size: 1.2rem;
  text-align: justify;
  text-align: start;
  font-family: "Source Sans Pro", sans-serif;
}

/* @media (max-width: 2500px) {
  .about-text {
    font-size: 1em;
    text-align: justify;
    text-align: start;
    font-family: "Karla", sans-serif;
  }
}

@media (max-width: 1800px) {
  .about-text {
    font-size: 0.9em;
    text-align: justify;
    text-align: start;
    font-family: "Karla", sans-serif;
  }
}

@media (max-width: 1500px) {
  .about-text {
    font-size: 0.8em;
    text-align: justify;
    text-align: start;
    font-family: "Karla", sans-serif;
  }
}

@media (max-width: 1200px) {
  .about-text {
    font-size: 0.75em;
    text-align: justify;
    text-align: start;
    font-family: "Karla", sans-serif;
  }
}

@media (max-width: 1050px) {
  .about-text {
    font-size: 0.7em;
    text-align: justify;
    text-align: start;
    font-family: "Karla", sans-serif;
  }
}

@media (max-width: 890px) {
  .about-text {
    font-size: 0.7em;
    text-align: justify;
    text-align: start;
    font-family: "Karla", sans-serif;
  }
}

@media (max-width: 500px) {
  .about-text {
    font-size: 0.5em;
    text-align: justify;
    text-align: start;
    font-family: "Karla", sans-serif;
  }
}

@media (max-width: 400px) {
  .about-text {
    font-size: 0.4em;
    text-align: justify;
    text-align: start;
    font-family: "Karla", sans-serif;
  }
} */

.image {
  border-radius: 1rem;
  border: 1px solid black;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.image:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.about-container {
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.about-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #211a23;
  border-radius: 10px;
  background-color: transparent;
}

.about-container::-webkit-scrollbar {
  width: 2px;

  background-color: transparent;
}

.about-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
}
