@import url("https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap");

h1 {
  font-size: 3rem;
}
h1,
h2,
h3,
p {
  font-family: "Karla", sans-serif;
}

a {
  color: inherit;
}

.social-icon:hover {
  color: rgba(245, 245, 245, 0.678);
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* test */

.cave {
  position: absolute;
  height: 18rem;
  left: 73%;
  top: 50%;
  width: 18rem;
}

.cave {
  animation: rotation 2s linear infinite;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.cave:hover {
  animation-play-state: running;
}

.cave > * {
  animation: rotation 160s linear infinite;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@media (max-width: 1800px) {
  .cave {
    height: 15rem;
    left: 71%;
    top: 50%;
    width: 15rem;
  }
}

@media (max-width: 1205px) {
  .cave {
    height: 15rem;
    left: 69%;
    top: 50%;
    width: 15rem;
  }
}

@media (max-width: 1024px) {
  .cave {
    height: 15rem;
    left: 64%;
    top: 50%;
    width: 15rem;
  }
}

@media (max-width: 890px) {
  .cave {
    height: 15rem;
    left: 60%;
    top: 60%;
    width: 15rem;
  }
}
/* 
@media (max-width: 800px) {
  .cave {
    height: 13rem;
    left: 55%;
    top: 50%;
    width: 13rem;
  }
} */

@media (max-width: 800px) {
  .cave {
    height: 12rem;
    left: 60%;
    top: 65%;
    width: 12rem;
  }
}

@media (max-width: 600px) {
  .cave {
    height: 8rem;
    left: 65%;
    top: 70%;
  }
  .social-icon {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .cave {
    height: 3rem;
    left: 80%;
    top: 88%;
    width: 3rem;
  }
}

@media (max-width: 360px) {
  .cave {
    height: 3rem;
    left: 80%;
    top: 88%;
    width: 3rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media (max-height: 541px) {
  .cave {
    height: 5rem;
    left: 80%;
    top: 60%;
    width: 5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.7rem;
  }
}

@media (max-width: 322px) {
  .cave {
    height: 5rem;
    left: 65%;
    top: 68%;
    width: 5rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1rem;
  }
  .social-icon {
    font-size: 1.5rem !important;
  }
}

@media (max-height: 280px) {
  .cave {
    height: 5rem;
    left: 80%;
    top: 42%;
    width: 5rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.5rem;
  }

  p {
    font-size: 0.5rem;
  }

  .social-icon {
    font-size: 1.5rem !important;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.cave:hover {
  animation: rotation 2s infinite linear !important;
}
