@import url("https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap");

#navbar {
  font-family: "Karla", sans-serif;
  /* background-color: red; */
  height: 2.2rem;
}

.nav-item {
  font-family: "Karla", sans-serif;
  list-style: none;
  padding-left: 1rem;
}

.nav-item:hover {
  color: rgb(196, 195, 195);
}
.navbar {
  justify-content: center;
  font-family: "Karla", sans-serif;
  /* font-size: 1rem; */
}

@media (max-width: 2500px) {
  .navbar {
    font-size: 1.1rem;
    justify-content: flex-end;
  }
}

@media (max-width: 2000px) {
  .navbar {
    font-size: 1.1rem;
    justify-content: flex-end;
  }
}

/* @media (min-width: 760px) {
} */

@media (max-width: 760px) {
  .navbar {
    font-size: 0.6em;
    justify-content: flex-end;
  }

  .table {
    font-size: 0.6em;
  }
}

@media (max-width: 500px) {
  .navbar {
    font-size: 0.5rem;
    justify-content: center;
  }
}
