@import url("https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap");

#navbar {
  font-family: "Karla", sans-serif;
  /* background-color: red; */
  height: 2.2rem;
}

.nav-item {
  font-family: "Karla", sans-serif;
  list-style: none;
  padding-left: 1rem;
}

.navbar {
  justify-content: flex-end;
}
