@import url("https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap");

.project-detail-container {
  height: 80vh;
}

.title-box {
  /* background-color: black; */
  height: 8%;
  font-family: "Karla", sans-serif;
}

.image-box {
  /* background-color: red; */
  height: 52%;
}

.description-box-long {
  font-family: "Karla", sans-serif;
  height: 40%;
  text-align: justify;
  font-size: 1rem;
}

.description-box {
  /* background-color: green; */

  font-family: "Karla", sans-serif;
  height: 40%;
  text-align: start;
  font-size: 1.5rem;
}

@media (max-width: 2000px) {
  .description-box-long {
    font-size: 0.9rem;
  }
}

@media (max-width: 1500px) {
  .description-box-long {
    font-size: 0.85rem;
  }
}

@media (max-width: 1200px) {
  .description-box-long {
    font-size: 0.8rem;
  }
}

@media (max-width: 1100px) {
  .description-box {
    font-size: 0.77rem;
  }
}

@media (max-width: 1000px) {
  .description-box-long {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .title-box {
    height: auto;
    font-size: 1.8rem;
  }

  .image-box {
    /* background-color: red; */
    height: auto;
  }

  .description-box {
    font-size: 1.5rem;
  }
  .project-detail-container {
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 600px) {
  .description-box {
    font-size: 1.1rem;
  }
  .description-box-long {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 480px) {
  .description-box-long {
    font-size: 1rem;
    margin-top: 0.1rem;
  }
  .title-box {
    height: auto;
    font-size: 1rem;
  }

  .image-box {
    /* background-color: red; */
    height: auto;
  }

  .description-box {
    font-size: 1.5rem;
  }
  .project-detail-container {
    height: auto;
    object-fit: contain;
  }
}

/* .p-image {
  height: 320px;
  width: 320px;
} */

.card-image {
  object-fit: cover;
  overflow: hidden;
}
