@import url("https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap");

.projects-list {
  height: 80vh;
}

@media (max-height: 500px) {
  .projects-list {
    height: 60vh;
  }
}

.filter {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

/* .filter-link {
  font-size: 0.9rem;
} */

@media (max-width: 1300px) {
  .filter-link {
    font-size: 110%;
    margin-top: 1rem;
  }
}

.filter-link:hover {
  color: red;
}

.projects {
  height: 92%;
  overflow-y: auto;
}

.stack {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.726);
}

.demo {
  font-size: 12px;
  color: white;
}

.icon-link {
  color: inherit;
}

.fa-star {
  color: rgba(255, 255, 7, 0.493);
}

.fa-github:hover {
  color: red;
}

.demo-text:hover {
  color: red;
}

.project-title {
  font-family: "Karla", sans-serif;
  font-size: 15px;
}

.project-links {
  display: inline-block;
  width: 30%;
}
.project-date {
  font-size: 12px;
}

.project-box {
  height: 100%;
  border-bottom: 1px dotted white !important;
  /* cursor: crosshair; */
  background-color: #211a23 !important;
  border-radius: 0% !important;
  padding: 2px !important;
}

@media (min-width: 990px) {
  .project-box:hover {
    background-color: rgba(255, 255, 255, 0.795) !important;
    color: #211a23;
    cursor: pointer;
  }

  .project-box:hover .project-title,
  .project-box:hover .stack,
  .project-box:hover .demo {
    color: #211a23;
  }
}

.projects::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #211a23;
  border-radius: 10px;
  background-color: transparent;
}

.projects::-webkit-scrollbar {
  width: 2px;

  background-color: transparent;
}

.projects::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
}

.accordion-card:hover {
  cursor: s-resize;
}
