@import url("https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap");

.project-detail-container {
  height: 80vh;
}

.title-box {
  /* background-color: black; */
  height: 8%;
  font-family: "Karla", sans-serif;
}

.image-box {
  /* background-color: red; */
  height: 52%;
}

.description-box {
  /* background-color: green; */
  font-family: "Karla", sans-serif;
  height: 40%;
}

@media (min-width: 2000px) {
  .description-box {
    font-size: 1.1rem;
  }
}

@media (min-width: 1500px) {
  .description-box {
    font-size: 0.9rem;
  }
}

@media (min-width: 1300px) {
  .description-box {
    background-color: green;
    height: 40%;
    font-family: "Karla", sans-serif;
    font-size: 0.85rem;
  }
}

@media (min-width: 1000px) {
  .description-box {
    background-color: green;
    height: 40%;
    font-family: "Karla", sans-serif;
    font-size: 0.75rem;
  }
}

@media (min-width: 990px) {
  .description-box {
    background-color: green;
    height: 40%;
    font-family: "Karla", sans-serif;
    font-size: 0.7rem;
  }
}
/* .p-image {
  height: 320px;
  width: 320px;
} */
